input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid rgb(82, 60, 152);
    -webkit-box-shadow: 0 1px 0 0 rgb(82, 60, 152);
    box-shadow: 0 1px 0 0 rgb(82, 60, 152);
}
[type="checkbox"]:checked+label:before{
	border-right: 2px solid #523C98;
    border-bottom: 2px solid #523C98;
}
.dropdown-content li>a, .dropdown-content li>span{
	color: rgb(82, 60, 152);
}
html{
  -webkit-overflow-scrolling: touch;
}
.home-tabs .content-overlay{
	height: 660px;
}
.slider {
    position: relative;
    height: 100%;
    width: 100%;
}
div:focus{
  outline: none;
}

.clearfix:after,.clearfix:before{
    content: '';
    display: block;
    clear: both;
 }
 .container{
 	width: 1080px;
 	/* min-width: 600px; */
 	padding: 0 24px;
 	margin: 0 auto;
 }
 #map {
	margin: 0px auto;
	margin-bottom: 50px;
	height: 259px;
	width: 1080px;
}
.location{
	padding: 0;
}
.header-container{
	padding-top: 0;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
nav .brand-logo{
	left: 0;
}
.field-search-top{
	display: none;
}
.line-red{
	border-top: 9px solid #523C98;
	display: block;
}
.top-search{
	display: none;
}
/*.container{
	width: 80%;
	max-width: 1880px;
}*/
body{
 margin-top: 74px;

}
.phone-show{
	display: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.start-fix{
	position: fixed;
	background-color: #fff;
	top: 74px;
}
.nav-navBar .nav-wrapper{
	min-width: 1088px;
}
.dropdown-search {
   display: none;
 }
 .side-nav.non-drop{
	padding-top: 20px;
 }
.reviews-box{
	display: inline-block;
	font-size: 12px;
	padding-left: 10px; 
}
.reviews-box span{
	padding-right: 5px;
}
.tab-anchors{
	position: initial;
}
.tab-anchors div{
	height: 106px;
	overflow: hidden;
}
.place-scroc {
	margin-top: 15px;
}
.place-scroc .starType{
	display: inline-block;
}
.phone-calrousel{
	display: block;
}
.phone-calrousel  .slider-top .slick-slide{
      margin: 0;
    } 
.phone-calrousel  .slider-bottom{
    margin: 0px auto 0;
  }
.phone-calrousel  .slider-bottom .slick-slide{
    margin: 5px;
    margin-top: 10px;
    height: 121px;
    overflow: hidden;
  }
.phone-calrousel  .slick-track .op-first{
    margin-left: 0;
  }
.phone-calrousel  .slick-track .op-last{
    margin-right: 0;
  }
.phone-calrousel .slider.slider-top{
	height: 510px !important;
	overflow: hidden;
	/* border: 1px solid #ccc; */
	background-color: #fff;
}
.slider-top .slick-slide.slick-active img{
	/* max-width: 100%;
	max-height: 100%; */
	width: 100%;
	height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.slider-top .slick-prev:before,
.slider-top .slick-next:before
{
    font-family: 'slick';
    font-size: 83px;
    right: -100px;
    font-weight: 100;
    line-height: 1;
    opacity: .75;
    color: white;
}
.phone-calrousel .slick-track{
	height: 100%;
}
.phone-calrousel  .slider-bottom .slick-slide.slick-current{
    top: -30px;
    z-index: 10000;
    position: relative;
  }
.phone-calrousel  .slider-bottom .slick-slide{
    float: none;
    display: inline-block;
    /* border: 1px solid #ccc; */
		background-color: #fff;
		width: 23.8% !important;
  }
.phone-calrousel  .slick-next{
	right: 100px;
}
.phone-calrousel .slider-top .slick-list{
	overflow: hidden;
	height: 100%;
}
.phone-calrousel .slider-bottom .slick-list{
	overflow: visible;
	height: 100%;
}
.phone-calrousel .slider.slider-nav.slider-bottom.phone-hide{
	height: 142px;
}
.phone-calrousel  .slider-bottom .slick-slide img{
	/* max-width: 100%;
	max-height: 100%; */
	width: 100%;
	/* height: 100%; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.phone-calrousel .slick-prev:before, .slick-next:before{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
/* .owl-header .owl-nav{
	display: none;
} */
.phone-cal .content-price{
	display: none;
}
.content-right.phone-hide{
	padding: 0 30px 0 20px !important;
	border-right: 1px solid  #979797;
	border-bottom: 1px solid  #979797;
	width: 358px;
}
.content-right .scroc-title{
	font-size: 8px;
	margin: 6px 0;
}
.home-tabs{
	top:0;
	margin-bottom: 0;
}
.home-tabs .content{
	height: 510px;
	width: 100%;
	padding: 0;
}
.tab-anchors{
	top: -100px;
	margin: 0;
	width: 100%;
}
.tab-anchors div:nth-of-type(1){
	left: 0;
	padding: 0;
}

.tab-anchors div:nth-of-type(2){
	left: 0;
}

.tab-anchors div:nth-of-type(3){
	left: 0;
}
.tab-anchors div:nth-of-type(4){
	margin-right: 0;
}
.home-tabs .tab-anchors img{
	width: 100%;
}
.tab-anchors div{
	padding: 10px 3px;
	width: 24.5%;
}
.home-tabs .content-overlay{
	/* height: 100%; */
}
.home-bottom{
	border-bottom: 1px solid #979797;
	display: block;
	width: 100%;
	background-color: #fff;
}
.home-bottom ul{
	margin: 0;
}
.home-bottom ul li{
	text-align: center;
	display: inline-block;
	padding-top:20px !important;
	padding-bottom: 20px !important;
}
.home-bottom ul li::after{
	content: '·';
	/* font-size: 20px; */
	vertical-align: middle;
	margin-left: 20px;
}
.home-bottom ul .last-li::after{
	content: '';
	font-size: 0;
	margin: 0;
}
.home-bottom ul li a{
	color:#000;
	font-weight: 700;
}
.home-bottom ul li a:hover{
	color: #523C98;
}
.home-bottom ul li a:focus{
	color: #523C98;
}
.content-card .introduce{
	margin: 10px 0;
	font-size: 28px;
}
.content-card .input-field{
	padding: 0;
	margin: 0;
	margin-right:20px;
}
.content-card.content-card-fix{
	position: absolute;
	top: 74px;
	/* right: 520px; */
	line-height: 1.5;
	z-index: 100;
	display: none;
}
[type="checkbox"].filled-in:checked+label:after{
	    border: 2px solid #523C98;
    background-color: #523C98;
}
.content-card .content-price{
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#333537), to(rgba(247, 244, 240, 0.46)));
	display: inline-block;
	color: #fff;
	padding: 5px 4px;
	font-size: 20px;
	margin: 0;
}
.content-card .content-price span{
	font-size: 26px;
}
.content-times {
	padding-bottom: 15px;
	margin-top: -20px;
}
.content-times .times-a{
	display: inline-block;
	font-size: 18px;
	margin: 0;
} 
.content-times div {
	display: inline-block;
	position: relative;
	top: 18px;
}
.content-times div p{
	font-size: 14px;
}
.content-times .times-case{
	padding: 14px 4px;
	border-left: 1px solid #979797;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;
	margin-right: 10px;
}
.content-card .place-scroc i{
	padding-right: 10px;
	font-size: 25px;
}
.content-card .content-location{
	margin: 0;
	display: inline-block;
	margin-left: 10px;
} 
.content-card .content-submit{
	background-color: #29b6f6;
	color: #fff;
	padding: 10px 20px;
	display: none;
	text-align: center;
}
/* .checkbox input[type=checkbox]{
	opacity: 1;
} */
.content-menu .content-input{
	background-color: #399aef;
	width: 100%;
	display: block;
	font-size: 20px;
	color: #fff;
	padding: 5px 0 ;
	margin-top: 30px;
}
.content-right-fix .content-menu .input-field{
	padding: 0 0 !important;
	margin: 0!important; 
}
.input-field .icon-down1{
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
	}
.content-menu .input-field.date-item-left .icon-down1{
	right: 15px;
}
.content-menu .input-field.date-item-left{
	padding-right: 10px !important;
}
.content-menu .input-field.date-item-right{
	padding-left: 10px !important;
}
.content-menu .up-btn{
		font-size: 14px;
		margin-left:15px; 
	}
.content-right .up-btn{
	font-size: 14px;
	margin-left:15px; 
}
.content-right .select-wrapper input.select-dropdown{
	text-align: center;
	border:1px solid #ccc;
	height: 14px;
	margin: 0;
	padding: 10px 0;
}
.content-right button{
	color: #fff;
	background-color: #399aef;
	padding: 6px 64px;
	font-size: 16px;
	border: 0;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content-right [type="checkbox"]+label{
	margin-top: 10px;
}
	.content-social{
		margin-bottom: 15px;
	}
 .content-social-save{
	display: inline-block;
	border: 1px solid #979797;
	color: #000;
	text-align: center;
	padding: 5px 20px 5px;
}
.content-social-save:hover{
	color:  #523C98;
}
.content-social-save i{
	padding-right: 8px;
	color: #523C98 !important;
}
.content-social-box{
	border: 1px solid #979797;
	text-align: center;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-left: 4px;
	display:inline-block;
	vertical-align: top;
}
.content-social-box i {
	font-size: 16px;
	color: #000;
}
.content-social-box:hover i{
	color: #523C98; 
}
footer .container{
	padding-top: 50px
}
.page-footer{
	background-color: #f7f7f7;
	color: #000;
	padding-top: 50px;
	padding-left: 39px;
	padding-right: 10%;
}
.page-footer a:hover{
	text-decoration: underline;
}
.footer-copyright a:hover{
	text-decoration: none;
}
.footer-copyright .container-bottom{
	color: #000 
}
.footer .social-media li i{
	color: #399AEF;
}
.page-footer a{
	color: #000;
	display: inline-block;
}
.page-footer div.footer-copyright{
	background-color: inherit;
	padding: 0;
	padding-bottom: 50px;
}
.page-footer .row{
	margin-bottom: 0;
}
.comment-provider div{
	display: inline-block;
}
.note-provider{
	margin: 0;
	padding-bottom: 20px;
	font-weight: 700;
	font-size: 20px;
}
.comment-box{
	 margin-left: -10px !important;
}
.comment-provider .provide-company{
	margin: 0;
	width: auto;
}

.comment-provider{
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #979797;
}
.comment-note{
	border-bottom: 1px solid #979797;
	padding: 50px 0;
}
.comment-note .note-title{
	font-size: 14px;
	margin: 0;
	padding-bottom:10px; 
}
.comment-note .note-buttom1{
	display: block;
	text-decoration: underline;
	color: #523C98;
}
.comment-note .note-buttom2{
	display: none;
}
.comment-model{
	padding: 50px 0;
	border-bottom: 1px solid #979797;
}
.comment-model .Num1{
	display: none;
}
.comment-model .Num2{
	margin: 0;
	font-weight: 700;
}
.comment-model .Num2 span{
	font-weight: 700;
}
.comment-model div img {
	padding-right: 8px;
}
.comment-model div{
	display: inline-block;
	padding-bottom:  40px;
}
.comment-model div p{
	display: inline-block;
}
.comment-model .model-title{
	margin: 0;
}
.comment-grade .grade-head{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
.comment-grade{
	padding-top: 50px;
	padding-bottom: 30px; 
}
.comment-grade .grade-num{
	margin: 0;
	font-size: 36px;
	color: #523C98;
	line-height: 32px;
}
.comment-grade .grade-num span{
	color: #000;
	padding-left: 15px; 
}
.grade-plane input{
	display: none;
}
.big-plane .icon-feiji{
	font-size: 24px;
    	color: #979797;
}
.icon-feiji{
	color: #979797;
}
.icon-feiji.light-plane{
	color: #523C98;
}
.comment-grade .grade-scroc{
	display: none;
}
.grade-progress-bar .determinate{
	display: inline-block;
}
.grade-progress-bar{
	margin-left:  -15px;
	display: table;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
}
.progress .determinate{
	background-color: #523C98;
}
.progress{
	background-color: #bfbfbf;
}

.comment-user{
	padding: 40px 0;
	border-bottom: 1px solid #979797;
}
.comment-user .user-name{
	display: inline-block;
}
.comment-user .user-name div{
	display:inline-block;
	padding-left: 20px;
}
.comment-user .user-name p{
	margin: 0;
	padding-bottom: 10px; 
}
.comment-user .user-praise{
	display: inline-block;
	padding: 10px;
}
.comment-user .user-praise a{
	color: #979797;
	padding-right: 10px;
}
.comment-user .user-praise i{
	padding-right: 5px;
}
.comment-user .user-praise-2{
	display: none;
}
.comment-user .user-buttom{
	display: none;
	padding-top: 10px;
	color:#523C98;
}

.comment-user .report{
	display: inline-block;
}
.comment-user .collection{ 
	display: inline-block;
	margin: 0;
	border-radius: 5px;
}
.collection{
	overflow: initial;
	border-radius: 5px;
}
.comment-user .collection a{
	padding: 2px 2px 2px 10px;
	border-radius: 5px;
}
.comment-user .collection i{
	padding-right: 5px;
}
.comment-user .collection span{
	margin: 0;
	padding-left: 10px;
} 
.collection a.collection-item{
	color: #979797;
}
.comment-user .user-title{
	margin: 0;
	padding-top: 30px;
}
.comment-reviews .user-read{
	display:inline-block;
	border: 1px solid #979797;
	color: #523C98;
	padding: 10px 30px;
	margin-top: 40px;
	margin-bottom: 50px; 
}
.serviceSection .item-box h5{
	position: initial;
}
.serviceSection .small-service{
}
.serviceSection .item-box span{
	float: initial !important;
	font-size: 12px;
	padding-left: 5px;

}
/* .serviceSection{
	width: 80%;
	margin: auto;
	padding: 0;
} */
.serviceSection .item-box .pkg-duration{
	display: inline-block;
}
.serviceSection .item-box .pkg-location{
	display: inline-block;
}
.popularService{
	margin-left: -25px;
}
.featuredService{
	margin: 0;
	padding-top: 50px;
	padding-bottom: 70px;
	margin-left: -25px;
}

.serviceSection .airboard-search-box{
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.serviceSection .slick-initialized .slick-slide{
	padding-left: 10px;
}
.popularService .airboard-search{
	/* padding-top: 30px; */
	display: inline-block;
	/* width: 245px; */
	/* padding-left: 10px; */
}
.popularService .pop-flyImg{
	width: 100%;
	height: 192.75px;
	overflow: hidden;
	position: relative;
}
.serviceSection .slick-list.draggable{
	margin-left: -10px !important;
}
/* .serviceSection .airboard-search:last-child{
	margin-right: -10px !important;
} */
.featuredService .airboard-search{
	/* padding-top: 30px; */
	display: inline-block;
	width: 100%;
	/* padding-left: 10px; */
}
.featuredService .pop-flyImg{
	width: 100%;
	height: 259px;
	overflow: hidden;
	position: relative;
}
.serviceSection .pop-flyImg img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.serviceSection .airboard-search-box p span{
	padding-right: 8px;
}
.serviceSection .airboard-search-box p{
	font-size: 18px;
	line-height: 1;
	margin: 12px 0;
}
.serviceSection .airboard-search-box i{
	font-size: 18px;
}
.serviceSection .airboard-search-box img{
	/* width: 176px; */
	max-width: 100%;
	max-height: 100%;
}
.serviceSection .airboard-search-box .search-box-head span{
	font-weight: bold;

}
.serviceSection .airboard-search-box .starType{
	display: inline-block;
	padding-right: 5px;
	line-height: 1;
}
.serviceSection .airboard-search-box .ion-minute{
	display: inline-block;
	line-height: 1;
}
.serviceSection .airboard-search-box .search-box-site{
	font-size: 14px;
}

.serviceSection h1{
	margin: 0;
	padding-bottom: 30px;
	font-size: 20px;
}
.serviceSection .item-details .place-scroc{
	margin-top: 0;
}
/* .owl-stage {
	padding-left: 0 !important;
} */
.mobile-footer{
	display: none;
}
footer .social-media li i{
	color: #399AEF;
}
footer .social-media{
	position: initial;
}
.page-footer{
	color: #000;
}
.select-wrapper input.select-dropdown{
  line-height: 2rem;
  color: #757575;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
	pointer-events: initial;
}
[type="radio"]:not(:checked), [type="radio"]:checked{
	pointer-events: initial;
}
section{
	display: block;
}
.phone_flights{
  display: none;
}
@media only screen and (max-width: 995px) {
	.fix-homeBtn{
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
	}
	section{
		display: none;
	}
	.airacer-h2{
		font-size: 20px;
		margin: 0;
		padding-bottom: 15px;
		padding-left: .75rem;

	}
	#close-dropdown{
		display: inline-block;
    font-size: 24px;
    height: auto;
    line-height: 1;
    color: #000;
	}
	body{
		margin-top: 60px;
	}
/* 	[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
		pointer-events: initial;
	} */
	.nav-wrapper .input-field input[type=search] {
    height: inherit;
    padding-left: 2rem;
    width: calc(100% - 2rem);
    border: 0;
	}
	.container h4{
		font-size: 20px;
		margin: 0;
		padding-top: 50px;
	}
	.nav-navBar .nav-wrapper{
		min-width: 290px;
	}
	.nav-navBar .top-search{
		display: block;
		position: absolute;
		top: 4px;
		right: 20px;
		color: #ccc;
	}
	.nav-navBar .button-collapse{
		width: 10%;
	}
	.nav-navBar{
		height: 60px;
		padding-right: 0; 
	}
	.nav-navBar .brand-logo img{
		display: none;
	}
	.nav-navBar .input-field .fa-search{
		vertical-align: text-top;
	}
	nav .input-field{
		width: 78%;
		position: relative;
	}
	.dropdown-search{
		width: 100%;
		display: none;
		z-index: 1;
		position: absolute;
		top: 0px;
		left: 0;
		background-color: #fff;
		padding: 20px;
	}
	.search-input{
		color: #000;
		border: 1px solid #ccc!important;
		margin: 0!important;
		padding-left: 10px !important;
    margin-left: -5px !important;
	}
	.search-submit{
		background-color: #29b6f6;
		color: #fff;
		line-height: 2.5;
		padding: 10px 0px;
		text-align: center;
		border-radius: 5px;
		padding: 0;
		width: 90%;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		border: none;
	}
	.dropdown-search label{
		font-size: 16px;
	}
	.search-btn{
		position: relative;
		width: 100%;
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    font-size: 18px;
    color: #979797;
    line-height: 60px;
	}
	.phone-show{
		display: block;
	}
	.line-red{
	border-top: 9px solid #523C98;
	display: none;
	}
	#map{
		margin-top: 20px;
		height: 300px;
		width: 90%;
	}
	.container{
		width: 100%;
		padding: 0 20px;
	}
	.serviceSection{
		padding-right: 0;
	}
	.container h4{
		padding-top: 10px;
	}
	.content-right{
		padding: 0 20px !important;
	}
	.phone-hide{
		display: none !important;
	}
	.home-tabs{
		display: initial;
	}
	.tab-anchors{
		display: none;
	}
	.header-container{
		padding: 0;
	}
	.header-container .row{
		margin:0;
	}
	.home-tabs .content-overlay{
		height: 300px;
	}
	.phone-calrousel .slider.slider-top{
		height: 300px !important;
		border:  0;
		/* border-bottom: 1px solid #ccc; */
	}
	.phone-calrousel{
		display: block;
		padding: 0 !important;
	}
  .phone-calrousel  .slick-track .slick-track .slick-active{
  	height: 106px;
  }
	.phone-calrousel .content-price{
		display: inline-block;
		color: #fff;
		margin:0;
		position: absolute;
		bottom: 0px;
		z-index: 999;
		left: 0;
		padding: 5px 20px;
		font-size: 22px;
		background-color: rgba(0,0,0,0.5);
	}
	.popularService{
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin-left: 0; 
	}
	.serviceSection .airboard-search.slick-slide{
		width: 245px!important;
	}
	/* .owl-carousel.owl-header .owl-item{
		width: 100%;
		height: 300px;
	}
	.owl-carousel.owl-header .item{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.owl-header .owl-nav{
		display: block;
	}
	.owl-item .pages1{
		background-image: url(../img/images/anchor1.png);
		background-position: -260px center;
	}
	.owl-item .pages2{
		background-image: url(../img/images/anchor2.png);
	}
	.owl-item .pages3{
		background-image: url(../img/images/anchor3.png);
	}
	.owl-item .pages4{
		background-image: url(../img/images/anchor4.png);
	} */
	.content-right .place-scroc{
		margin:0;
		margin-bottom:  20px;
		color: #ccc;
	}
	.content-right.phone-show .place-scroc{
		margin:0;
		margin-bottom:  0px;
		color: #ccc;
	}
	.content-right.phone-show h1{
	 font-size: 2rem !important;
	}
	.content-right  .content-location{
		padding-bottom: 0;
		color:#505050;

	}
	.content-right .content-submit{
		font-size: 20px;
		font-weight: 700;
	}
	.request-phone{
		width: 100%;
	}
	.request-phone-top{
		padding: 12px 20px;
		background-color: #D8D8D8;
		line-height: 25px;
	}
	.price-box{
		padding: 10px 15px;
		font-size: 26px;
		color: #fff;
		line-height: 30px;
		background-color: #000; 
	}
	.request-phone-top>span{
		font-size: 14px;
	}
	.request-phone-top .close-btn{
		cursor: pointer;
	}
	.phone-content-menu{
		padding: 0px 20px;
	}
	.phone-content-menu .chose-flight {
		margin: 0px;
	}
	.checkbox-wrap{
		margin:30px 0;
	}
	.content-social-save{
		background-color: #fff;
		text-align: center;
		padding: 12px 0;
		border: 1px solid #ccc;
		display: block;
		line-height: 20px;
	}
	.content-social-save i{
		padding-right: 8px;
	}
	button.phnoe-request-pop{
		padding: 2px 6px;
		margin:30px 0;
		border: 0px;
		width: 100%;
		font-weight: 700;
		font-size: 20px;
		background-color: #29b6f6;
    color: #fff;
    text-align: center;
	}
	.content-submit .ion-chevron-up{
		margin-left: 5px;
		vertical-align: middle;
	}
	.home-bottom ul li::after{
		margin-left: 9px;
	}
	.home-bottom ul li:nth-of-type(1){
		padding: 15px 0;
	}
	.home-bottom ul li:nth-of-type(2){
		padding: 15px 0 15px 0;
	}
	.home-bottom ul li:nth-of-type(3){
		padding: 15px 0 15px 0;
	}

	.home-bottom ul li:nth-of-type(4){
		padding: 15px 0 15px 0;
	}
	.home-bottom ul{
		margin: 0;
		/* border-bottom: 1px solid #979797; */
	}
	.content-card .content-price{
		background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#333537), to(rgba(168, 166, 164, 0.46)));
		display: none;
		color: #fff;
		padding: 10px 20px;
		font-size: 22px;
	}
	/* .comment-model{
		display: none;
	} */
	.content-min .comment-model{
		display: block;
		padding:  0 20px;
	}
	.content-min .content-card{
		padding: 0;
	}
	.comment-box{
		 margin-left: 0px !important;
	}
	.comment-note{
		padding: 30px 0;
	}
	.comment-note .note-provider{
	padding-bottom: 20px;
	}
	.comment-note .note-buttom1{
		display: none;
	}
	.comment-note .note-buttom2{
		display: block;
		color: #523C98;
	}
	.content-card{
		padding-bottom: 30px;
		border-bottom:1px solid #979797
	}
	.content-card .place-scroc i{
		padding-right: 0;
	}
	.content-card .content-submit{
		display: block;
	}
	.content-form{
		display: none;
	}
	.comment-model .model-now{
		display: none;
	}
	.comment-model .model-title{
		display: none;
	}
	.content-min .comment-model{
		border:0;
	}
	.comment-model .Num1{
		display: inline-block;
		margin: 0;
	}
	.comment-model .Num2 span{
		font-size: 22px;
	}

	.comment-model div{
		padding-bottom: 0px;
	}

	.comment-grade .grade-scroc{
		display: inline-block;
		font-size: 20px;
		margin: 0;
		padding-right: 5px;
	}

	.grade-progress-bar{
		margin-left: -20px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.comment-grade .grade-num{
		display: none;
	}
	.comment-grade .grade-head{
		display: none;
	}
	.comment-provider .provide-now{
		padding-bottom: 20px;
	}
	.comment-provider{
		position: relative;
	}
	.comment-provider img{
		position: absolute;
		right: 0;
		bottom: 30px;
	}
	.comment-provider .provide-company{
		width: 100px;
	}
	.grade-plane .starType{
		display: inline-block;

	}
	.comment-user .user-praise{
		display: none;
	}
	.comment-user .user-praise-2{
		display: inline-block;
		padding: 10px;
	}
	.comment-user .user-praise-2 a{
		color: #979797;
		padding-right: 10px;
	}
	.comment-user .user-praise-2 i{
		padding-right: 5px;
	}
	.comment-user .user-buttom{
		display: inline-block;
	}
	.comment-grade{
		padding-top: 30px;
	}
	.comment-grade .grade-plane input{
		display: block;
		border: 1px solid #979797;
		border-radius: 5px;
		margin-top: 30px;
		width: 96%;
		padding-left: 10px;
		height: 2.5rem;
	}
/* 	.serviceSection .item-details .right{
		font-size: 18px;
	}
	.serviceSection .item-details h5{
		font-size: 18px;
	}
	.serviceSection .owl-item .pkg-duration{
		font-size: 14px;
	}
	.serviceSection .owl-item .pkg-location{
		font-size: 14px;
	}
	.serviceSection .owl-item span{
		font-size: 14px;
	} */
/* 	.serviceSection{
		width: 100%;
		padding-left: 20px;
		margin-bottom: 60px;
	} */
	.featuredService{
		display: none;
	}
	footer{
		display: none;
	}
	.mobile-footer{
		display:block;
		width: 90%;
		border-top: 1px solid #979797;
		margin-left: 5%; 
		font-size: 8px;
		margin-bottom: 20px;
	}
	.field-search-top input[type=search]{
	border: 0;
	margin-bottom: 0;
	display: inline-block;
	padding-left: 4rem;
	}
	.field-search-top{
	border-left: 1px solid #979797;
	/* overflow: hidden; */
	display: inline-block;
	}
	.content-submit.phone-show{
		background-color: #29b6f6;
		color: #fff;
		padding: 10px 20px;
		text-align: center;
		position: fixed;
		bottom: 20px;
		width: 80%;
		left: 50%!important;
		border-radius:5px;
		transform: translateX(-50%);
		border: none;
	}
	.top-nav.request-phone{
		transform: translate(0,-100%) !important;
		position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
   /*  -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px; */
    background-color: #fff;
    z-index: 999;
    /* overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%); */
	}
	.top-nav.request-phone.open-btn{
		-webkit-transition: -webkit-transform 304ms ease-out,transform 304ms ease-out !important;
    -moz-transition: transform 304ms ease-out !important;
    transition: -ms-transform 304ms ease-out,-webkit-transform 304ms ease-out,transform 304ms ease-out !important;
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    z-index: 1000;
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important;
	}
	.mobile-footer.index-footer{
		margin-bottom: 100px;
	}
	.phone_flights{
    display: block;
    margin-left: 10px;
  }
  .phone_banner{
    height: 180px;
    overflow-y: hidden;
    margin-left: 10px;
    margin-bottom:  28px;
  }
  .phone_banner_box {
    height: 200px;
    overflow: scroll;
    white-space: nowrap;
  }
  .phone_banner .phone-search{
    display: inline-block;
    margin-right: 8px;
  }
  .phone_banner .phone-search-box{
    display: inline-block;
    color: #363636;
  } 
  .phone_banner .phone-flyImg{
    width: 160px;
    height: 120px;
    overflow: hidden;
    position: relative;
  }
  .phone_banner .phone-flyImg img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .phone-search-head{
    font-size: 11px;
    margin: 0;
    font-weight: bold;
  }
  .phone-search-head span{
    font-weight: bolder;
    font-size: 12px;
    padding-right: 8px;
  }
  .phone-search-site{
    font-size: 9px;
    margin: 0;
    padding-top: 2px;
  }
  .phone-ion-minute{
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
  }
  .starType{
    display: inline-block;
  }
  .starType i{
    font-size: 8px;
  }

}
